/* Shareen Basyari, P.4, class of '19 */
/*
	Color scheme for this website:
	#EFEEEE
	#E9CCB1
	#D3C4BE
	#E4EEE1
	#C4BDAC
	#EBCFC4
	#E3E6D9
	#999999
	#F3ECE7
*/

body {
	font-size: 1em;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #355C7D; /* navy blue */
	text-align: left;
	margin: 0 auto;
	background-color: #F8B195; /* peach */
	width: 75%;
	min-width: 720px;
  text-align: center;
  background-image: url(https://www.walldevil.com/wallpapers/w08/studio-ghibli-totoro-my-neighbor-totoro-simple-background.jpg);
}
h1 {
	font-size: 1.8em;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-weight: bold;
	color: #355C7D; /* navy blue */
	text-align: center;
	border: 25px ;
  padding: 25px;
  margin: auto;
}
h2 {
	font: italic normal 1.4em Arial, Sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #355C7D; /* navy blue */
	border: 5px ;
  padding: 10px;
  border-style: dotted;
}
div {
    width: 0 auto;
    border: none;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-color: #F67280; /* pink */
}
button { 
    font-size: 1.1em;
    background-color: #EBF5FF;
    color: #4312AE;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #999999;
  }
  button:hover, button:focus, button:active { 
    /* swap colors */
    color: #EBF5FF;
    background-color: #4312AE;
    cursor: pointer; /* displays a hand */
  }
  video {
  position: center;
}
p {
	margin-top: 0;
	text-align: justify;
	border: 25px ;
  padding: 25px;
}
ul {
	text-align: center; border: 25px ;
    padding: 25px;
    margin: auto;
}
div#skipnav {
    width:10em;  
    position: center;
    text-align: center;
}
div#clock { 
      margin: auto;
      padding: 0.25em 1em;
      border: 5px;
      border-style: dotted;
      font-size: 1.2em;
      font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
      font-weight: normal;
      color: #355C7D; /* navy blue */
      background-color: white;
      display: block;
    }
div#myvideo {
      width: 320px;
      height: 240px;
    }
div#myplayer {
  position: center;
}
div.info { 
    width: 40%;
    font-size: 1.2em;
    float: center;
  }
nav { 
    clear: left;
}
nav ul { 
  list-style-type: none;
}
nav ul li { 
  float: left;
  margin-right: 0.5em;
}
nav ul li a { 
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #EBF5FF; /* pale bluish white */
  color: #4312AE; /* dark blue */
  border: 2px solid black;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */	 
}	
nav ul li a:hover, nav ul li a:focus { 
  color: #E9CCB1; /* orange */
  background-color: white; 
  font-weight: bold;
}
main {
  clear: left;
  padding:1em;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

/* unvisited link */
a:link {
    color: #6C5B7B; /* dark purple */
}

/* visited link */
a:visited {
    color: #C06C84; /* light purple */
}

/* mouse over link */
a:hover {
    color: #E9CCB1; /* orange */
}
p#overview:first-letter {
	color: #F67280;
}
